.contactus-carres-page-parent {
  .contactus-carres-page-parent-sub {
    padding:0px 0 60px 0;
    background: #54595f;
    color: #fff;
    @media only screen and (max-width:575px){
      padding: 0;
    }
    .row {
      align-items: center;
      padding: 0;
      margin: 0;
      .col-md-6{
        padding: 0;
      }
      .col-md-6:nth-child(1){
        padding-top: 80px;
        @media only screen and (max-width:575px){
          padding-top: 5px;
        }
        @media only screen and (min-width:575px) and (max-width:767px){
          padding-top: 30px;
        }
        .contactus-careers-left{
          width: 90%;
          margin: auto;
          padding-left: 50px;
          @media only screen and (max-width:575px){
            padding: 0px 10px 0px 15px;
            width: 100%;
          }
          .contactus-page-sec1-text1 {
            position: relative;
            padding-top: 25px;
            width: 80%;
    
            .contactus-bag-image-careers {
              position: absolute;
              right: 7px;
              top: -45px;
              height: 150px;
              width: 150px;
              img{
                height: 100%;
                width: 100%;
                object-fit: contain;
              }
              @media only screen and (max-width:575px){
                right: -10px;
                top: 10px;
                height: 70px;
                width: 70px;
              }
              @media only screen and (min-width:576px) and (max-width:767px){
                right: -15px;
                top: -20px;
                height: 120px;
                width: 120px;
              }
              @media only screen and (min-width:768px) and (max-width:991px){
                right: -52px;
                top: -38px;
                height: 120px;
                width: 125px;
              }
              @media only screen and (min-width:992px) and (max-width:1199px){
                right: -60px;
                top: -33px;
                height: 125px;
                width: 125px;
              }
              @media only screen and (min-width:1200px) and (max-width:1399px){
                right: -20px;
                top: -22px;
                height: 130px;
                width: 130px;
              }
            }
    
            p {
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: 30px;
              letter-spacing: 2.3px;
            }
          }
    
          .contactus-page-sec1-text2 {
            h5 {
              color: #FFFFFF;
              font-size: 47px;
              line-height: 72px;
              font-weight: 700;
              @media only screen and (max-width:575px){
                font-size: 28px;
                line-height: 30px;
              }
              @media only screen and (min-width:768px) and (max-width:991px){
                font-size: 38px;
              }
            }
          }
    
          .contactus-page-sec1-text3 {
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 30px;
              padding-bottom: 15px;
              padding-top: 15px;
              @media only screen and (max-width:575px){
                font-size: 15px;
                padding-bottom: 8px;
                line-height: 25px;
                text-align: justify;
              }
            }
            
          }
        }

      }


      .contactus-page-sec1-button {
        .WhoweraeAbout-sub-viewmore-button {
          display: flex;
          gap: 10px;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.22px;
          fill: #000000;
          color: #000000;
          background-color: #02010100;
          border-style: solid;
          border-width: 1px;
          border-color: #E1E4E633;
          border-radius: 25px;
          padding: 12px 30px;
          transition: all 0.1s linear;
          @media only screen and (max-width:575px){
            margin-bottom: 25px;
          }

          svg {
            color: #c3921c;
            height: 20px;
            width: 20px;
          }

          a {
            text-decoration: none;
            font-size: 14px;
            color: #fff;
          }

          svg {
            font-size: 14px !important;
          }

          &:hover {
            border-color: #c3921c;
            background: #c3921c;

            a {
              color: #fff;
            }

            svg {
              color: #fff;
            }
          }
        }
      }

      .contactus-carres-page-sec2-img {
        background-image: url('/contactus/image 30.png');
        height:600px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media only screen and (max-width:575px){
          height: 300px;
        }
        @media only screen and (min-width:576px) and (max-width:767px){
          margin-top: 20px;
          height: 400px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .contactus-carres-page-parent {
    .contactus-carres-page-parent-sub {
      padding-top: 13px;
      padding-bottom: 0;

      .container {
        .row {
          .contactus-page-sec1-text1 {
            p {
              font-size: 14px;
              margin: 5px;
            }
          }

          .contactus-page-sec1-text2 {
            h5 {
              font-size: 22px;
              margin: 0;

            }
          }

          .contactus-page-sec1-text3 {
            p {
              font-size: 15px ;
              text-align: justify;
              margin: 0;
              padding-top: 6px;
              line-height: 21px;
            }
          }

          .contactus-page-sec1-button {
            button {
              font-size: 12px;
              height: 42px;
            }
          }

          .contactus-carres-page-sec2-img {
            img {
              padding-left: 0;
              width: 97%;
              margin: auto;
              height: 362px;
              padding-top: 20px;
            }
          }
        }
      }
    }
  }

  .contactus-carres-page-parent .contactus-carres-page-parent-sub .container .row .contactus-carres-page-sec2-img {
    width: 100%;
    margin: 40px auto;
    height: 323px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contactus-carres-page-parent {
    .contactus-carres-page-parent-sub {
      padding-top: 13px;

      .container {
        .row {
          .contactus-page-sec1-text1 {
            p {
              font-size: 15px;
              margin: 5px;
            }
          }

          .contactus-page-sec1-text2 {
            h5 {
              font-size: 24px;
            }
          }
          .contactus-page-sec1-text3 {
            p {
              font-size: 15px;
              text-align: justify;
              line-height: 26px;
              padding-top: 0px;
              margin: 0
            }
          }

          .contactus-page-sec1-button {
            button {
              font-size: 14px;
              height: 35px;
            }
          }

          .contactus-carres-page-sec2-img {
            img {
              padding-left: 0;
              width: 97%;
              margin: auto;
              height: 362px;

              padding-top: 20px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .contactus-carres-page-parent {
    .contactus-carres-page-parent-sub {
      padding-top: 60px;

      .container {
        .row {
          .contactus-page-sec1-text1 {
            p {
              font-size: 15px;
            }
          }

          .contactus-page-sec1-text2 {
            h5 {
              font-size: 35px;
            }
          }

          .contactus-page-sec1-text3 {
            p {
              font-size: 18px;
              padding: 0;
              line-height: 27px;
            }
          }

          .contactus-page-sec1-button {
            button {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}