.services-banner-page {
    height: 935px;

    .service-banner-subparent {
        padding: 80px 0;
        border-radius: 0px 0px 600px 600px;
        background: linear-gradient(180deg, rgba(195, 146, 28, 0.75) 0%, rgba(195, 146, 28, 0.75) 100%);
        width: 100%;
        height: 820px;
        flex-shrink: 0;

        .container {
            .row {
                padding-bottom: 25px;

                .col-md-6 {
                    .real-retate-page {
                        h6 {
                            color: #FFF;
                            font-size: 19.4px;
                            font-weight: 500;

                        }

                        h1 {
                            color: #FFF;
                            font-size: 57.3px;
                            font-weight: 600;
                            line-height: 65px;
                            width: 90%;
                            padding: 10px 0;
                        }

                        p {
                            color: #FFF;
                            font-size: 16px;
                            width: 85%;
                        }

                        .swiper-service-page {
                            margin: 20px 0;

                            .swiper {
                                width: 100%;

                                .swiper-wrapper {
                                    .swiper-slide {
                                        div {
                                            width: 100%;
                                            height: 378px;

                                            img {
                                                width: 100%;
                                                height: 100%;
                                                object-fit: cover;
                                                border-radius: 25px;
                                            }
                                        }
                                    }
                                }

                                .swiper-button-prev {
                                    height: 40px;
                                    background-color: white;
                                    border-radius: 50%;
                                    width: 40px;
                                    color: black;
                                    left: 0px;
                                    top: 45%;

                                }

                                .swiper-button-prev:after {
                                    font-size: 25px !important;
                                }

                                .swiper-button-next {
                                    height: 40px;
                                    background-color: white;
                                    border-radius: 50%;
                                    width: 40px;
                                    color: black;
                                    right: 0px;
                                    top: 45%;
                                }

                                .swiper-button-next:after {
                                    font-size: 25px !important;
                                }
                            }
                        }
                    }
                }

                .col-md-6.dataform {
                    .banner-form-services {
                        padding: 45px 50px 60px 50px;
                        border-radius: 30px;
                        background: #FFF;
                        box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);
                        width: 80%;
                        margin: auto;

                        form {
                            .for-enquiry {
                                h2 {
                                    color: #C3921C;
                                    text-align: center;
                                    text-align: center;
                                    font-size: 28px;
                                    font-weight: 600;

                                }

                                p {
                                    text-align: center;
                                    font-weight: 500;
                                    font-size: 16px;
                                }
                            }

                            .input-tags-name {

                                input {
                                    padding: 16px 16px;
                                    width: 100%;
                                    border: none;
                                    border-radius: 20px;
                                    border: 0px solid var(--Text-Colour-5, #D4D4D4);
                                    background: rgba(212, 212, 212, 0.20);
                                    margin: 10px 0;

                                }
                            }

                            .input-tags-button {
                                button {
                                    width: 100%;
                                    height: 60px;
                                    color: white;
                                    text-align: center;
                                    margin-top: 10px;
                                    flex-shrink: 0;
                                    border-radius: 50px;
                                    border: 1px solid #BFBDC1;
                                    background: #C3921C;
                                }
                            }
                        }
                    }
                }

            }

            .happy-coustomer-line.row {
                width: 70%;
                margin: 10px auto;
                gap: 10px;

                .col-md-6 {
                    border-radius: 70px;
                    background: var(--White, #FFF);
                    padding: 12px 0;
                    width: 48%;
                    margin: auto;
                    box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);

                    .page-width-date {

                        margin: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        gap: 20px !important;

                        .multi-iamges {
                            width: 80px;
                            height: 80px;


                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        h4 {
                            color: var(--Text-Colour-2, #2B2B2B);
                            font-size: 26px;
                            font-weight: 600;
                        }

                    }

                    .page-width-date-customer {
                        margin: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        // gap: 20px !important;

                        .contact-images {
                            display: flex;
                            justify-content: center;

                            .multi-iamges {
                                width: 80px;
                                height: 80px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                            .multi-iamges1 {
                                width: 80px;
                                height: 80px;
                                position: relative;
                                right: 30px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }

                        h4 {
                            color: var(--Text-Colour-2, #2B2B2B);
                            font-size: 26px;
                            font-weight: 600;
                        }

                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1201px) and (max-width:1440px) {
    .services-banner-page {
        height: fit-content;

        .service-banner-subparent {
            padding: 30px 0 10px 0;
            height: fit-content;
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .services-banner-page {
        height: fit-content;

        .service-banner-subparent {
            padding: 30px 0 10px 0;
            height: fit-content;

            .container {
                .row {
                    padding-bottom: 5px;

                    .col-md-6 {
                        .real-retate-page {
                            h6 {
                                font-size: 16.4px;
                            }

                            h1 {
                                font-size: 37px;
                                width: 100%;
                                padding: 0;
                                line-height: 36px;
                            }

                            p {
                                font-size: 14px;
                                width: 100%;
                            }

                            .swiper-service-page {
                                margin: 20px 0;

                                .swiper {
                                    .swiper-wrapper {
                                        .swiper-slide {
                                            div {
                                                width: 100%;
                                                height: 280px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .col-md-6.dataform {
                        .banner-form-services {
                            padding: 20px 25px 25px 25px;
                            width: 100%;
                            margin: auto;

                            form {
                                .for-enquiry{
                                    h2{
                                        font-size: 20px;
                                    }
                                    p{
                                        font-size: 14px;
                                    }
                                }
                                .input-tags-name {

                                    input {
                                        padding: 11px 13px;
                                        margin: 5px 0;
                                    }
                                }

                                .input-tags-button {
                                    button {
                                        height: 45px;
                                    }
                                }
                            }
                        }
                    }

                }

                .happy-coustomer-line.row {
                    width: 90%;
                    gap: 0px;

                    .col-md-6 {
                        padding: 6px 0;
                        width: 48%;
                        margin-bottom: 5px;

                        .page-width-date {
                            h4 {
                                font-size: 18px;
                            }

                            .multi-iamges {
                                width: 70px;
                                height: 70px;
                            }
                        }

                        .page-width-date-customer {
                            h4 {
                                font-size: 18px;
                            }
                            .contact-images{
                               .multi-iamges{
                                width: 70px;
                                height: 70px;
                               }
                               .multi-iamges1 {
                                width: 70px;
                                height: 70px;
                            }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .services-banner-page {
        height: fit-content;

        .service-banner-subparent {
            padding: 30px 0 10px 0;
            height: fit-content;

            .container {
                .row {
                    padding-bottom: 5px;

                    .col-md-6 {
                        .real-retate-page {
                            h6 {
                                font-size: 16.4px;
                            }

                            h1 {
                                font-size: 32px;
                                width: 100%;
                                padding: 0;
                                line-height: 36px;
                            }

                            p {
                                font-size: 14px;
                                width: 100%;
                            }

                            .swiper-service-page {
                                margin: 20px 0;

                                .swiper {
                                    .swiper-wrapper {
                                        .swiper-slide {
                                            div {
                                                width: 100%;
                                                height: 280px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .col-md-6.dataform {
                        .banner-form-services {
                            padding: 20px 25px 25px 25px;
                            width: 100%;
                            margin: auto;

                            form {
                                .for-enquiry{
                                    h2{
                                        font-size: 20px;
                                    }
                                    p{
                                        font-size: 14px;
                                    }
                                }
                                .input-tags-name {

                                    input {
                                        padding: 13px 13px;
                                        margin: 5px 0;
                                    }
                                }

                                .input-tags-button {
                                    button {
                                        height: 45px;
                                    }
                                }
                            }
                        }
                    }

                }

                .happy-coustomer-line.row {
                    width: 90%;
                    gap: 0px;

                    .col-md-6 {
                        padding: 6px 0;
                        width: 48%;
                        margin-bottom: 5px;

                        .page-width-date {
                            h4 {
                                font-size: 18px;
                            }

                            .multi-iamges {
                                width: 70px;
                                height: 70px;
                            }
                        }

                        .page-width-date-customer {
                            h4 {
                                font-size: 18px;
                            }
                            .contact-images{
                               .multi-iamges{
                                width: 70px;
                                height: 70px;
                               }
                               .multi-iamges1 {
                                width: 70px;
                                height: 70px;
                            }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .services-banner-page {
        height: fit-content;

        .service-banner-subparent {
            padding: 20px 0 40px 0;
            height: fit-content;

            .container {
                .row {
                    padding-bottom: 25px;

                    .col-md-6 {
                        .real-retate-page {
                            h6 {
                                font-size: 17.4px;
                            }

                            h1 {
                                font-size: 28px;
                                width: 100%;
                                padding: 0;
                                line-height: 35px;
                            }

                            p {
                                font-size: 14px;
                                width: 100%;
                            }

                            .swiper-service-page {
                                margin: 20px 0;

                                .swiper {
                                    .swiper-wrapper {
                                        .swiper-slide {
                                            div {
                                                width: 100%;
                                                height: 280px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .col-md-6.dataform {
                        .banner-form-services {
                            padding: 20px 15px 25px 15px;
                            width: 100%;
                            margin: auto;

                            form {
                                .input-tags-name {

                                    input {
                                        padding: 13px 13px;
                                        margin: 5px 0;
                                    }
                                }

                                .input-tags-button {
                                    button {
                                        height: 50px;
                                    }
                                }
                            }
                        }
                    }

                }

                .happy-coustomer-line.row {
                    width: 80%;
                    gap: 0px;

                    .col-md-6 {
                        padding: 8px 0;
                        width: 100%;
                        margin-bottom: 10px;

                        .page-width-date {
                            h4 {
                                font-size: 16px;
                            }


                            .multi-iamges {
                                width: 70px !important;
                                height: 70px !important;
                            }

                        }

                        .page-width-date-customer {
                            h4 {
                                font-size: 16px;
                            }

                            .contact-images {
                                .multi-iamges1 {
                                    width: 70px !important;
                                    height: 70px !important;
                                }

                                .multi-iamges {
                                    width: 70px !important;
                                    height: 70px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.services-banner-page .service-banner-subparent .container .row .col-md-6.dataform .banner-form-services form .input-tags-name input::placeholder {
    color: #000;
}