@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.service-timing-parent {
    overflow-x: hidden;

    .service-timing-subparent {
        width: 100%;
        height: 780px;

        .row {
            .col-md-6 {
                .counting-images {
                    position: relative;
                    height: 770px;

                    .images123 {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 75%;
                        height: 710px;
                        display: flex;
                        justify-content: center;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: fill;
                        }
                    }

                    .images1234 {
                        position: absolute;
                        top: 14%;
                        left: 22%;
                        width: 90%;
                        height: 500px;
                        display: flex;
                        justify-content: center;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }

            .col-md-6 {
                .row.counting {
                    width: 86%;
                    margin:30px auto;

                    .timing-know {

                        .what-we-do {

                            h6 {
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 20px;
                                padding: 0px 0;
                            }

                            h1 {
                                font-size: 42px;
                                font-weight: 700;
                                line-height: 55px;
                                padding: 7px 0;
                            }
                        }
                    }

                    .col-md-6 {

                        .countdown-service {
                            padding: 15px 25px;

                            .svg-counter {
                                display: flex;
                                gap: 20px;
                                

                                svg {
                                    display: flex;
                                    margin-top: 12px;
                                }

                                h2 {
                                    color: #401408;
                                    font-size: 65px;
                                    font-weight: 700;
                                    margin: 0;
                                    padding: 0;
                                }

                                div {
                                    display: flex;
                                    flex-direction: column;

                                    h3 {
                                        padding: 5px 0;
                                        font-size: 18px;
                                        font-weight: 700;
                                    }
                                }
                            }



                            .hr-width {
                                width: 90%;
                                margin: a
                            }

                            p {

                                font-size: 16px;
                                font-weight: 500;
                                line-height: 25px;
                                text-align: start;
                            }
                        }
                    }
                }
            }
        }


    }
}

@media only screen and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 992px) and (max-width: 1200px) {}

@media only screen and (min-width: 1201px) and (max-width: 1440px) {}