.delivery-Things-parent {
    .delivery-Things-subparent {
        padding: 60px 0 0px;

        .section-width {
            width: 98%;
            margin: auto;
            padding: 20px 0;
            color: #fff;

            .row {
                margin: 0;
                padding: 0;

                .datapage {
                    width: 85%;
                    padding-left: 35px;

                    h2 {
                        font-size: 13px;
                        letter-spacing: 3px;
                    }

                    h3 {
                        font-size: 38px;
                        font-weight: 700;
                        padding: 10px 0px 35px;
                    }
                }

                .datapage-counter-sec {
                    padding-bottom: 35px;

                    .datapage-count {
                        display: flex;
                        justify-content: flex-start;
                        gap: 30px;
                        border-bottom: 2px solid #C3921C;

                        .datapage-counter-main {
                            width: 60px;
                            height: 60px;

                            svg {
                                width: 100%;
                                height: 100%;
                                fill: #C3921C;
                            }
                        }

                        .datapage-counter-count h4 {
                            color: #C3921C;
                            font-size: 48px;
                            font-weight: 700;
                        }

                        .datapage-counter-count strong {
                            color: #fff;
                            font-size: 18px;
                        }

                        .datapage-counter-count {
                            padding-bottom: 37px;

                        }

                        .datapage-counter-desc p {
                            color: #fff;
                            margin-top: 28px;
                        }

                    }

                    .datapage-counter-desc {
                        p {
                            color: #fff;
                            padding-top: 20px;
                        }
                    }
                }


            }

            .datavisible {
                padding: 30px 25px;

                .d-flex-forline {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    padding: 10px 0;

                    h6 {
                        color: #fff;
                        font-size: 14px;
                        font-weight: 600;
                        margin: 0;
                        letter-spacing: 2px;
                    }
                }

                .delivering-data {
                    h1 {
                        color: #fff;
                        font-size: 34px;
                        width: 100%;
                        font-weight: 700;
                        padding: 6px 0;
                        line-height: 54px;
                    }
                }

                .house-warming-page {

                    p {
                        color: #fff;
                        font-size: 17px;
                        font-size: 16px;
                        font-weight: 400;
                        padding: 6px 0;
                        line-height: 31px;
                    }
                }

                .see-project-button {
                    border-radius: 48px;
                    border: 2px solid #ffffff;
                    display: flex;
                    padding: 7px 17px 7px 21px;
                    align-items: center;
                    gap: 10px;
                    width: fit-content;
                    margin: 30px 0;

                    a {
                        color: #fff;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 700;
                        text-decoration: none;
                    }

                    .up-arrow-icon {
                        // background: #C3921C;

                        display: flex;
                        padding: 10px 11.19px;
                        align-items: flex-start;

                        svg {
                            path {
                                color: #C3921C;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:575px) {
    .delivery-Things-parent {
        .delivery-Things-subparent {
            padding: 30px 0px 0px 0px;

            .section-width {
                padding: 20px 0 0px 0px;

                .row {
                    .datapage {
                        width: 95%;
                        padding-left: 10px;

                        h2 {
                            font-size: 12px;
                        }

                        h3 {
                            font-size: 26px;
                        }
                    }

                    .datapage-counter-sec {
                        padding-bottom: 35px;

                        .datapage-count {
                            display: flex;
                            justify-content: flex-start;
                            gap: 30px;
                            border-bottom: 2px solid #C3921C;

                            .datapage-counter-main {
                                width: 60px;
                                height: 60px;

                                svg {
                                    width: 100%;
                                    height: 100%;
                                    fill: #C3921C;
                                }
                            }

                            .datapage-counter-count h4 {
                                color: #C3921C;
                                font-size: 42px;
                                font-weight: 700;
                            }

                            .datapage-counter-count strong {
                                color: #fff;
                                font-size: 18px;
                            }

                            .datapage-counter-count {
                                padding-bottom: 37px;

                            }

                            .datapage-counter-desc p {
                                color: #fff;
                                margin-top: 28px;
                            }

                        }

                        .datapage-counter-desc {
                            p {
                                color: #fff;
                                padding-top: 20px;
                            }
                        }
                    }

                }

                .datavisible {
                    padding: 10px 15px;

                    .d-flex-forline {
                        h6 {
                            font-size: 14px;
                        }
                    }

                    .house-warming-page {
                        p {
                            font-size: 14px;
                            text-align: justify;
                            line-height: 28px;
                        }
                    }

                    .delivering-data {
                        h1 {
                            font-size: 26px;
                            width: 100%;
                            line-height: 26px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .delivery-Things-parent {
        .delivery-Things-subparent {
            padding: 30px 0px 0px 0px;

            .section-width {
                padding: 20px 0 0px 0px;

                .row {
                    .datapage {
                        width: 98%;
                        padding-left: 10px;

                        h2 {
                            font-size: 12px;
                        }

                        h3 {
                            font-size: 32px;
                        }
                    }

                    .datapage-counter-sec {
                        padding-bottom: 35px;

                        .datapage-count {
                            display: flex;
                            justify-content: flex-start;
                            gap: 30px;
                            border-bottom: 2px solid #C3921C;

                            .datapage-counter-main {
                                width: 60px;
                                height: 60px;

                                svg {
                                    width: 100%;
                                    height: 100%;
                                    fill: #C3921C;
                                }
                            }

                            .datapage-counter-count h4 {
                                color: #C3921C;
                                font-size: 40px;
                                font-weight: 700;
                            }

                            .datapage-counter-count strong {
                                color: #fff;
                                font-size: 15px;
                            }

                            .datapage-counter-count {
                                padding-bottom: 37px;

                            }

                            .datapage-counter-desc p {
                                color: #fff;
                                margin-top: 28px;
                            }

                        }

                        .datapage-counter-desc {
                            p {
                                color: #fff;
                                padding-top: 20px;
                            }
                        }
                    }

                }

                .datavisible {
                    padding: 10px 15px;

                    .d-flex-forline {
                        h6 {
                            font-size: 14px;
                        }
                    }

                    .house-warming-page {
                        p {
                            font-size: 14px;
                            text-align: justify;
                            line-height: 28px;
                        }
                    }

                    .delivering-data {
                        h1 {
                            font-size: 26px;
                            width: 100%;
                            line-height: 26px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .delivery-Things-parent {
        .delivery-Things-subparent {
            padding: 30px 0px 0px 0px;

            .section-width {
                padding: 20px 0 0px 0px;

                .row {
                    .datapage {
                        width: 98%;
                        padding-left: 10px;

                        h2 {
                            font-size: 12px;
                        }

                        h3 {
                            font-size: 30px;
                        }
                    }

                    .datapage-counter-sec {
                        padding-bottom: 30px;

                        .datapage-count {
                            display: flex;
                            justify-content: flex-start;
                            gap: 10px;
                            border-bottom: 2px solid #C3921C;

                            .datapage-counter-main {
                                width: 60px;
                                height: 60px;

                                svg {
                                    width: 100%;
                                    height: 100%;
                                    fill: #C3921C;
                                }
                            }

                            .datapage-counter-count h4 {
                                color: #C3921C;
                                font-size: 30px;
                                font-weight: 700;
                            }

                            .datapage-counter-count strong {
                                color: #fff;
                                font-size: 12px;
                            }

                            .datapage-counter-count {
                                padding-bottom: 20px;

                            }

                            .datapage-counter-desc p {
                                color: #fff;
                                margin-top: 28px;
                            }

                        }

                        .datapage-counter-desc {
                            p {
                                color: #fff;
                                padding-top: 12px;
                                font-size: 14px;
                            }
                        }
                    }

                }

                .datavisible {
                    padding: 0px 15px;

                    .d-flex-forline {
                        h6 {
                            font-size: 14px;
                            padding: 0;
                        }
                    }

                    .house-warming-page {
                        p {
                            font-size: 14px;
                            text-align: justify;
                            line-height: 22px;
                        }
                    }

                    .delivering-data {
                        h1 {
                            font-size: 24px;
                            width: 100%;
                            line-height: 32px;
                        }
                    }
                    .see-project-button {
                        margin: 15px 0;
                        padding: 5px 17px 5px 21px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .delivery-Things-parent {
        .delivery-Things-subparent {
            padding: 30px 0px 0px 0px;

            .section-width {
                padding: 20px 0 0px 0px;

                .row {
                    .datapage-counter-sec {
                        padding-bottom: 30px;

                        .datapage-count {

                            .datapage-counter-count h4 {
                                color: #C3921C;
                                font-size: 30px;
                                font-weight: 700;
                            }
                            
                            .datapage-counter-count strong {
                                color: #fff;
                                font-size: 12px;
                            }
                        }
                    }
                }

                .datavisible {
                    padding: 10px 15px;

                    .house-warming-page {
                        p {
                            font-size: 16px;
                            text-align: justify;
                        }
                    }

                    .delivering-data {
                        h1 {
                            font-size: 26px;
                            width: 100%;
                            line-height: 36px;
                        }
                    }
                }
            }
        }
    }
}