.home-packages {
    padding: 40px 0px 20px;
    .main-packages {
        display: flex;
        flex-wrap: wrap;
    }
    .package-text{
        text-align: center;
        h3{
            font-family: "Titillium Web", sans-serif;
            font-size: 38px;
            font-weight: 500;
        }
        span{
            font-family: "Titillium Web", sans-serif;
            padding-bottom: 5px;
            font-weight: 600;
        }
        select{
            border: none;
            color: #C3921C;
            font-family: "Titillium Web", sans-serif;
            padding-bottom: 5px;
            font-weight: 600;
        }
    }
    .main-package {
        width: calc(23.33% - 20px);
    margin: 30px 10px;
    box-shadow: rgb(149 157 165 / 11%) 0px 8px 24px;
    padding: 10px 4px 40px;
    
        h3 {
            margin-bottom: 10px;
            font-family: "Titillium Web", sans-serif;
            background-color: #C3921C;
            padding: 15px 15px;
            color: #fff;
            font-size: 18px;
            line-height: 28px;
        }
    
        .accordion-item {
            border: none;
            &:last-child {
                border-bottom: none;
            }
 
            .accordion-header {
                position: relative;
                background-color: #fff;
                    border: none;
                padding: 10px;
                width: 100%;
                text-align: left;
                cursor: pointer;
    
                &:hover {
                    background-color: transparent;
                    color: #C3921C;
                }
    
                &:active {
                    // background-color: #C3921C;
                    color: #C3921C;
                }
             
                    font-family: "Titillium Web", sans-serif;
    .acc-count{
        position: absolute;
        top: 1px;
        right: 20px;
        font-size: 30px;
    }
    h4{
        font-size: 18px;
        font-weight: 600;
    }
            }
    
            .accordion-content {
                display: none;
                padding: 10px;
    
                &.open {
                    display: block;
                }
    
                ul {
                    padding-left: 20px;
    
                    li{
                        font-family: "Titillium Web", sans-serif;
                        list-style-type: disclosure-closed;
                        line-height: 28px;
                        font-size: 16px;
                        padding: 10px 0px;
                    }
                }
            }
        }
    }
}

.mobile-packeges{
    display: none;
}

@media screen and (max-width:767px){
    .mobile-packeges{
        display: block;
    }
    .home-packeges-mobile{
        display: none;
    }
    .home-packages{
        padding: 10px 0px 20px;
        .ant-steps-item-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        :where(.css-42nv3w).ant-steps.ant-steps-vertical {
            display: flex;
            flex-direction: row !important;
            margin-top: 40px;
        }
        .ant-steps-item.ant-steps-item-process.ant-steps-item-active {
            display: flex;
             flex-direction: row !important; 
             justify-content: center;
        }
        .ant-steps.ant-steps-vertical.css-dev-only-do-not-override-42nv3w{
            display: flex;
            flex-direction: row !important;
            position: relative;
            top: 28px;
            justify-content: space-between;
        }
        .ant-steps-item.ant-steps-item-wait {
            display: flex !important;
            flex-direction: row;
            width: fit-content;
            justify-content: center;
        }
        .ant-steps-item-title div{
            font-size: 12px;
        }
        .ant-steps-item-tail{
            display: block !important;
        }
        :where(.css-dev-only-do-not-override-42nv3w).ant-steps.ant-steps-vertical >.ant-steps-item>.ant-steps-item-container>.ant-steps-item-tail {
            position: absolute;
            top: -37px;
            inset-inline-start: 15px;
            width: 7px;
            height: 77px;
            padding: 38px 0 6px;
            left: 76px;
        }
        :where(.css-dev-only-do-not-override-42nv3w).ant-steps.ant-steps-vertical >.ant-steps-item>.ant-steps-item-container>.ant-steps-item-tail::after {
            width: 0px;
            height: 100%;
            border: 2px dashed #c3921c;
            transform: rotate(91deg);
        }
        .step-content {
            width: 100%;
        }
        .main-package {
            width: calc(100%);
            margin: 30px 10px;
            box-shadow: rgba(149, 157, 165, 0.11) 0px 8px 24px;
            padding: 10px 4px 40px;
        }
        .ant-steps-item-icon {
            background-color: #C3921C !important;
            border-color: #C3921C !important;
            color: #fff !important;
            &:hover {
                background: #000 !important;
                color: #C3921C !important;
                border: 1px solid #000 !important;
            }
            &:active {
                background: #000 !important;
                color: #C3921C !important;
                border: 1px solid #000 !important;
            }
        }
        .ant-steps-item-tail{
            &:last-child{
           &::after{
                display: none;
               }
           }
        }
        .ant-steps-icon {
            color: #fff !important;
        }
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .mobile-packeges{
        display: block;
    }
    .home-packeges-mobile{
        display: none;
    }
    :where(.css-42nv3w).ant-steps.ant-steps-vertical {
        display: flex;
        flex-direction: row !important;
        margin-top: 40px;
    }
    .home-packages{
        padding: 10px 0px 20px;
        .ant-steps-item-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .ant-steps-item.ant-steps-item-process.ant-steps-item-active {
            display: flex;
             flex-direction: row !important; 
             justify-content: center;
        }
        .ant-steps.ant-steps-vertical.css-dev-only-do-not-override-42nv3w{
            display: flex;
            flex-direction: row !important;
            position: relative;
            top: 28px;
            justify-content: space-between;
        }
        .ant-steps-item.ant-steps-item-wait {
            display: flex !important;
            flex-direction: row;
            width: fit-content;
            justify-content: center;
        }
        .ant-steps-item-title div{
            font-size: 12px;
        }
        .ant-steps-item-tail{
            display: block !important;
        }
        
        .step-content {
            width: 100%;
        }
        .main-package {
            width: calc(100%);
            margin: 30px 10px;
            box-shadow: rgba(149, 157, 165, 0.11) 0px 8px 24px;
            padding: 10px 4px 40px;
        }
        .ant-steps-item-icon {
            background-color: #C3921C !important;
            border-color: #C3921C !important;
            color: #fff !important;
            &:hover {
                background: #000 !important;
                color: #C3921C !important;
                border: 1px solid #000 !important;
            }
            &:active {
                background: #000 !important;
                color: #C3921C !important;
                border: 1px solid #000 !important;
            }
        }
        .ant-steps-icon {
            color: #fff !important;
            
        }
    }
}

@media screen and (min-width:992px) and (max-width:1200px){
    .home-packages .main-package {
        width: calc(26.33% - 20px);
        margin: 30px 2px;
    }
    .home-packages .main-package .accordion-item .accordion-header h4 {
        font-size: 14px;
        font-weight: 600;
    }
    .home-packages .main-package .accordion-item .accordion-header .acc-count {
        position: absolute;
        top: 1px;
        right: 20px;
        font-size: 22px;
    }
    .home-packages .main-package h3 {
        margin-bottom: 10px;
        font-family: "Titillium Web", sans-serif;
        background-color: #C3921C;
        padding: 15px 15px;
        color: #fff;
        font-size: 11px;
        line-height: 28px;
    }
}