.HomeFreatures-parent{
    padding: 40px 0px;
    background: var(--reactheme-com-concrete, #F2F2F2);
    .row:nth-child(2){
        justify-content: center;
    }
    .Home-freatures-title{
        text-align: center;
        padding: 25px 0px 40px 0px;
        h2{
            font-size: 45px;
            font-weight: 600;
        }
        p{
            font-weight: 600;
        }
    }
    .Home-features-sub{
        background: #fff;
        display: flex;
        gap: 7px;
        width: 100%;
        align-items: center;
        padding: 10px 10px 10px 15px;
        margin-bottom: 20px;
        transition: all 0.3s ease;
        p{
            font-weight: 600;
            margin: 0;
            font-size: 16px;
        }
        .Home-features-sub-image {
            height: 42px;
            width: 36px;
            svg{
                height: 100%;
                width: 100%;
            }
        }
        
        &:hover{
            background: #C3921C;
            color: #fff;
            border-radius: 4px;
            path{
                fill:#fff;
            }
            
        }
    }
}
@media only screen and (max-width:767px){
    .HomeFreatures-parent{
        padding: 5px 0px;
        .Home-freatures-title {
            padding: 25px 0px 25px 0px;
            p{
                font-size: 14px;
            }
            h2{
                font-size: 25px;
            }
        }
        .Home-features-sub{
            p{
                font-size: 14px;
            }
        }
    }
    
}
@media only screen and (min-width:768px) and (max-width:991px){
    .HomeFreatures-parent{
        .Home-freatures-title{
            h2{
                font-size: 32px;
                font-weight: 600;
            }
        }
    .Home-features-sub{
        flex-direction: column;
        p{
            font-size: 11px;
            text-align: center;
        }
    }
    }
}
@media only screen and (min-width:992px) and (max-width:1199px){
    .HomeFreatures-parent{
        .Home-freatures-title{
            h2{
                font-size: 42px;
                font-weight: 600;
            }
        }
        .Home-features-sub{
            p{
                font-size: 11px;
            }
        }
        }
}