.HomeBlogs-parent {
    padding: 0px;

    .HomeBlogs-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: auto;

        p {
            font-weight: 600;
            color: #000;
            font-size: 17px;
        }

        h2 {
            font-weight: 600;
            font-size: 45px;
            padding-bottom: 20px;
        }
        
        .WhoweraeAbout-sub-viewmore-button {
            display: flex;
            gap: 10px;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.22px;
            fill: #000000;
            color: #000000;
            background-color: #02010100;
            border-style: solid;
            border-width:3px;
            border-color: #E1E4E6;
            border-radius: 25px;
            padding: 12px 30px;
            transition: all 0.1s linear;
            svg{
                color: #c3921c;
                height: 20px;
                width: 20px;
            }
            a{
                text-decoration: none;
                color: #000000;
                font-size: 14px;
            }
            svg{
                font-size: 14px !important;
            }
            &:hover{
                border-color: #c3921c;
                background: #c3921c;
                a{
                    color: #fff;
                }
                svg{
                    color: #fff;
                }
            }
        }
    }

    .ant-pagination .ant-pagination-item-active:hover {
        border: none !important;
    }

    .ant-pagination .ant-pagination-item-active {
        font-weight: 600;
        background-color: #c3921c;
        border: none !important;
    }

    img {
        height: 100%;
        width: 100%;
    }

    .row {
        position: relative;
        padding: 5px 0 40px 0px;
        width: 90%;
        margin: auto;
    }

    .HomeBlogs-parent-title {
        text-align: center;
        padding: 20px 0px;

        p {
            font-weight: 500;

        }
    }

    .HomeBlogs-sub {
        padding: 20px;
        border-radius: 6px;
        height: 440px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;        margin-top: 15px;

        p:nth-child(2) {
            font-weight: 600;
            font-size: 18px;
            margin-top: 10px;
            color: #000;
        }

        .Blogs-desc {
            font-weight: 500;
            font-size: 16px;
            color: #000;
        }

        .HomeBlogs-presentations {
            display: flex;
            justify-content: space-between;
            margin-bottom: 7px;

            h1 {
                font-size: 28px;
                font-weight: 700;
                color: #000;
                &:hover{
                    color: #C3921C;
                }
            }

            .HomeBlogs-card-arrow {
                height: 25px;
                width: 25px;
            }

            h5 {

                font-weight: 600;
            }
        }

        .HomeBlogs-sub-image {
            height: 230px;
            width: 100%;
            margin-bottom: 15px;
        }

        img {
            height: 100%;
            width: 100%;
        }

        .HomeBlogs-Footer-image {
            height: 40px;
            width: 40px;
        }

        .HomeBlogs-Footer {
            margin-top: 40px;
            display: flex;
            gap: 10px;
            align-items: center;

            h5 {
                font-size: 18px;
                margin: 0 0 5px 0;
                font-weight: 600;
            }

            p {
                margin: 0;
                font-size: 16px;
                font-weight: 600;
            }

            p:nth-child(2) {
                color: #C3921C;
            }
        }
    }
}

// media queries for blogs component
@media only screen and (max-width:575px){
    .HomeBlogs-parent{
        .row{
            .col-md-4{
                padding: 0;
            }
        }
    }   
}
@media only screen and (max-width:767px) {
    .HomeBlogs-parent{
        .HomeBlogs-title{
            justify-content: center;
            padding: 15px 0;
            h2 {
                font-weight: 600;
                font-size: 35px;
                text-align: center;
                padding:  0;
            }
            p{
                font-size: 14px;
                text-align: center;
            }
            .WhoweraeAbout-sub-viewmore-button{
                display: none;
            }
        }
        .row{
            .col-md-4{
                .HomeBlogs-sub{
                    height: 320px;
                    p{
                        font-weight: 400;
                        font-size: 15px;
                    }
                    .HomeBlogs-sub-image{
                        height: 160px;
                    }
                    .HomeBlogs-presentations{
                        h1{
                            font-size:17px;
                            font-weight: 600;
                        }
                    }
                }
                
            }
        }
    }
  
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .HomeBlogs-parent{
        .HomeBlogs-title{
            padding: 15px 0;
            h2 {
                font-size: 28px;
                padding-bottom: 12px;
            }
            p{
                font-size: 14px;
            }
            .WhoweraeAbout-sub-viewmore-button{
                padding: 9px 26px
            }
        }
        .row{
            width: 98%;
            .col-md-4{
                padding: 7px;
                .HomeBlogs-sub{
                    height: 330px;
                    padding: 20px 10px;
                    p{
                        font-weight: 400;
                        font-size: 15px;
                    }
                    h2 {
                        font-size: 28px;
                    }
                    .HomeBlogs-sub-image{
                        height: 160px;
                    }
                    .HomeBlogs-presentations{
                        h1{
                            font-size:17px;
                            font-weight: 600;
                        }
                    }
                }
                
            }
        }
    }

}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .HomeBlogs-parent{
        .row{
            .col-md-4{
                .HomeBlogs-sub{
                    height: 400px;
                    padding: 20px;
                    p{
                        font-weight: 400;
                        font-size: 15px;
                    }
                    .HomeBlogs-sub-image{
                        height: 200px;
                    }
                    .HomeBlogs-presentations{
                        h1{
                            font-size:20px;
                            font-weight: 600;
                        }
                    }
                }
                
            }
        }
    }
}
