.whatwedo-parent {

  padding: 50px 0;

  .whatwedo-sub {
    overflow-x: hidden;
    width: 100%;

    .whatwego-heading {
      margin: auto;
      width: 88%;
      div{
        img{
          height: 55px;
          width: 55px;
        }
      }

      .WhoweraeAbout-sub-viewmore-button {
        display: flex;
        gap: 10px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.22px;
        fill: #000000;
        color: #000000;
        background-color: #02010100;
        border-style: solid;
        border-width: 3px 3px 3px 3px;
        border-color: #E1E4E6;
        border-radius: 25px;
        padding: 12px 30px;
        transition: all 0.1s linear;

        svg {
          color: #c3921c;
          height: 20px;
          width: 20px;
        }

        a {
          text-decoration: none;
          color: #fff;
          font-size: 14px;
        }

        svg {
          font-size: 14px !important;
        }

        &:hover {
          border-color: #c3921c;
          background: #c3921c;

          a {
            color: #fff;
          }

          svg {
            color: #fff;
          }
        }
      }

      .whatwedo-paragraph {
        h4 {

          font-size: 48px;
          font-weight: 600;
          line-height: 58px;
          padding: 20px 0px;
          color: #fff;
        }

        p {
          color: #fff;
          font-size: 17px;
          font-style: normal;
          padding-bottom: 20px;
          margin: auto;
          font-weight: 400;
          line-height: 32px;
        }
      }
    }

    .reviews-data {
      .text-parent {
        .swiper-page-date {
          .swiper {
            
            .swiper-wrapper {
              .swiper-slide {
                overflow: visible;
                padding: 0px;
                background-color: #fff;
                // width: 350px !important;

                .whatwedo-sec2-text {
                  background-repeat: no-repeat;
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: right;
                  @media only screen and (max-width:576px){
                    background-size:initial;
                  }

                  // background-size: 80% 70%;
                  // background-position: top right;

                  p {
                    padding: 60px 30px 20px 30px;

                    font-size: 16px;
                  }
                }

                .profilecontent {
                  position: relative;
                  display: flex;
                  align-items: center;
                  padding: 10px 30px;

                  .profile-image {
                    width: 70px;
                    height: 70px;

                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .swiper-below-shape{
                    border-left: 30px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 20px solid #ffffff;
                    position: absolute;
                    z-index: 99999999999;
                    right: 0;
                    bottom: -20px;
                    border: 30px solid top right left;
                  
                  }
                }
              }
            }


            .swiper-pagination {
              .swiper-pagination-bullet {
                background: #f2e7e7 !important;
                width: 11px;
                height: 11px;
              }

              .swiper-pagination-bullet-active {
                background: #c3921c !important;
              }

            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width:575px){
  .text-parent{
    margin-top: -40px;
  }
}
@media only screen and (max-width:767px) {
  .whatwedo-parent {
    padding: 30px 0 10px 0px;

    .whatwedo-sub {

      .whatwego-heading {
        width: 92%;
        img{
          height: 40px;
        }

        .WhoweraeAbout-sub-viewmore-button {
          display: flex;
          gap: 10px;
          font-size: 12px;
          padding: 12px 30px;

          svg {
            color: #c3921c;
            height: 20px;
            width: 20px;
          }

          a {
            text-decoration: none;
            color: #fff;
            font-size: 14px;
          }

          svg {
            font-size: 14px !important;
          }
        }

        .whatwedo-paragraph {
          h4 {
            font-size:28px;
            line-height: 45px;
            padding: 10px 0;
          }

          p {
            font-size: 15px;
            font-weight: 400;
            text-align: justify;
            line-height: 26px;
          }
        }
      }

      .reviews-data {
        .text-parent {
          .swiper-page-date {
            padding: 20px 0;
            .swiper {
              width: 95%;
              .swiper-wrapper {
                .swiper-slide {
                  padding: 0px;
                  background-color: #fff;

                  .whatwedo-sec2-text {

                    p {
                      padding: 60px 30px 20px 30px;

                      font-size: 16px;
                    }
                  }

                  .profilecontent {
                    display: flex;
                    align-items: center;
                    padding: 10px 30px;
                  }

                }
              }
            }
          }
        }
      }
    }
  }
}


@media only screen and (min-width:768px) and (max-width:991px) {
  .whatwedo-parent {
    padding: 50px 0;

    .whatwedo-sub {

      .whatwego-heading {
        width: 92%;

        .WhoweraeAbout-sub-viewmore-button {
          display: flex;
          gap: 10px;
          font-size: 12px;
          padding: 10px 30px;

          svg {
            color: #c3921c;
            height: 20px;
            width: 20px;
          }

          a {
            text-decoration: none;
            color: #fff;
            font-size: 14px;
          }

          svg {
            font-size: 14px !important;
          }
        }

        .whatwedo-paragraph {
          h4 {
            font-size: 32px;
            line-height: 45px;
            padding: 10px 0;
          }

          p {
            font-size: 15px;
            line-height: 30px;
          }
        }
      }

      .reviews-data {
        .text-parent {
          .swiper-page-date {
            .swiper {
              .swiper-wrapper {
                .swiper-slide {
                  padding: 0px;
                  background-color: #fff;

                  .whatwedo-sec2-text {
                    p {
                      padding: 60px 30px 20px 30px;

                      font-size: 16px;
                    }
                  }

                  .profilecontent {
                    display: flex;
                    align-items: center;
                    padding: 10px 30px;
                  }

                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
  .whatwedo-parent {
    padding: 50px 0;

    .whatwedo-sub {

      .whatwego-heading {
        width: 92%;

        .WhoweraeAbout-sub-viewmore-button {
          display: flex;
          gap: 10px;
          font-size: 12px;
          padding: 10px 30px;
        }

        .whatwedo-paragraph {
          h4 {
            font-size: 34px;
            line-height: 45px;
            padding: 10px 0;
          }

          p {
            font-size: 15px;
            line-height: 30px;
          }
        }
      }

    }
  }
}
