.who-we-are-main {
    padding-top: 50px;
    padding-bottom: 50px;

    @media only screen and (min-width: 315px) and (max-width: 553px) {
        padding-top: 30px;
    }

    @media only screen and (min-width: 554px) and (max-width: 767px) {
        padding-top: 10px;
    }

    .container {
        .row
         {
            @media only screen and (min-width:992px) and (max-width:1199px){
                align-items: center;
            }
            .col-md-5 {
                @media only screen and (min-width:768px) and (max-width:991px) {
                    width: 90%;
                }

                .subtitle {
                    color: white;
                    font-size: 14px;
                    width: fit-content;
                    padding: 7px 24px;
                    background: rgb(195, 146, 28);
                    border-radius: 5px;
                    @media only screen and (min-width:992px) and (max-width:1199px){
                        padding: 12px 24px;
                    }
                }

                .title {
                    padding-top: 24px;
                    font-size: 40px;
                    padding-bottom: 12px;

                    @media only screen and (min-width: 315px) and (max-width: 553px) {
                        padding-top: 8px;
                        font-size: 22px;
                        font-weight: 600;
                        padding-bottom: 12px;
                    }

                    @media only screen and (min-width:768px) and (max-width:991px) {
                        font-size: 30px;
                        margin-bottom: 20px;
                        font-weight: 600;
                    }
                    @media only screen and (min-width:992px) and (max-width:1199px) {
                        font-size: 28px;
                        margin-bottom: 20px;
                        font-weight: 600;
                    }
                }

                .description {
                    font-size: 17px;

                    @media only screen and (min-width: 315px) and (max-width: 553px) {

                        font-size: 17px !important;
                        line-height: 29px;
                    }
                }

                .see-all-team-button {
                    margin-top: 20px;
                    padding: 10px 40px 10px 40px;
                    background: rgba(195, 146, 28, 1);
                    box-shadow: 0px 10px 15px 0px rgba(1, 115, 153, 0.2);
                    border: none;

                    @media only screen and (max-width:767px) {
                        padding: 6px 18px;
                        font-size: 16px;
                    }
                    @media only screen and (min-width:768px) and (max-width:1199px){
                        padding: 8px 20px;
                    }
                   
                }
            }

            .col-md-7 {
                @media only screen and (min-width:768px) and (max-width:991px) {
                    width: 100%;
                }

                .row {
                    .col1 {
                        margin-top: 40px;

                        .image1 {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                            box-shadow: 4px 10px 30px 0px rgba(0, 0, 0, 0.15);

                            @media only screen and (min-width: 315px) and (max-width: 553px) {
                                height: 93%;
                                border-radius: 6px;
                            }

                            @media only screen and (min-width: 554px) and (max-width: 767px) {
                                height: 93%;
                            }
                        }
                    }

                    .col2 {
                        .image2 {
                            width: 100%;
                            border-radius: 10px;
                            box-shadow: 4px 10px 30px 0px rgba(0, 0, 0, 0.15);
                        }

                        .image3 {
                            width: 100%;
                            height: 53%;
                            margin-bottom: 15px;
                            border-radius: 10px;
                            box-shadow: 4px 10px 30px 0px rgba(0, 0, 0, 0.15);
                        }
                    }
                }
            }
        }
    }

}
@media screen and (max-width:767px){
   
    .who-we-are-main .container .row .col-md-7 .row .col1 {
        width: 49%;
    }
    .col-sm-6.col-md-6.col2{
        width: 49%;
        img{
            height: 180px;
            object-fit: cover;
        }
    }
}