.footer-main-parent {
    background-color: #1c2329;
    padding-top: 50px;

    .footer-main-subparent {
        margin-top: 30px 0;

        .container {
            .row {
                .col-md-4 {
                    .footer-logo-iamge {
                        p {
                           
                            color:  #fff;
                            font-size: 17px;
                            font-weight: 400;
                            line-height: 28px;
                            width: 90%;
                            padding: 40px 0;
                        }
                        div{
                            img{
                                background-color: #fff;
                            }
                        }
                    }
                }

                .col-md-4 {
                    h5{
                        color:  #fff;                        font-family: "Titillium Web";
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 24px;
                        padding: 10px 0;
                    }
                    .icon-footer-iamges {
                        display: flex;
                        align-items: start;
                        justify-content: flex-start;
                        padding: 10px 0;
                        gap: 10px;
                        div{
                            img{
                                filter: brightness(97.5);
                            }
                        }
                        p {
                            margin: 0;
                            color:  #fff;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                        }
                    }
                }

                .col-md-2 {
                    h5 {
                        color:  #fff;                        font-family: "Titillium Web";
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 24px;
                        padding: 10px 0;
                    }

                    .footer-row-2-techinal {

                        p {
                            a {
                                text-decoration: none;
                                color:  #fff;                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }

            .house-construct-line {
                padding: 20px 0;

                p {
                    color:  #fff;                
                        font-size: 15px;
                    font-weight: 400;
                    line-height: 20px;

                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .footer-main-parent {
        padding-top: 30px;
        padding-left: 20px;

        .footer-main-subparent {
            .container {
                .row {
                    .col-md-4 {
                        .footer-logo-iamge{
                            p {
                                font-size: 15px;
                                width: 95%;
                                padding: 15px 0;
                                line-height: 25px;
                            }
                        }
                        .icon-footer-iamges{
                            p{
                                font-size: 13px;
                            }
                        }
                    }

                }
            }
        }

    }
}
@media only screen and (min-width:768px) and (max-width:991px){
    .footer-main-parent {
        padding-top: 30px;
        padding-left: 20px;

        .footer-main-subparent {
            .container {
                .row {
                    .col-md-4 {
                        .footer-logo-iamge{
                            p {
                                font-size: 14px;
                                width: 95%;
                                padding: 15px 0;
                                line-height: 25px;
                            }
                        }
                        .icon-footer-iamges{
                            p{
                                font-size: 12px;
                            }
                        }
                    }
                    .col-md-2{
                        h5{
                            font-size: 17px;
                        }
                        .footer-row-2-techinal{
                            p{
                                a{
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                }
                .house-construct-line{
                    p{
                        text-align: center;
                    }
                }
            }
        }

    }
}
